* {
    margin: 0;
    padding: 0;
}

/*whole viewport(means cover whole website) of the website*/
#container {
    background-color: hsl(30, 38%, 92%);
    height: 100vh;
    display: flex;
    justify-content: center ;
    align-items: center;
}

/*container or main container in which photo's and text stored */
#small-container {
    width: 700px;
    height: 500px;
    background-image: url(assets/image-product-desktop.jpg);
    background-repeat:no-repeat;
    background-size: contain;
    background-color: hsl(0, 0%, 100%) ;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

/*items of the container from here */
/*I later understand that I don't need to used this */
#image-one {
    width: 350px;
    height: 500px;
}



/*typhography and heading and part is from now on*/
#text {
    background-color:hsl(0, 0%, 100%);
    width: 350px;
    height: 500px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

/*Perfume part top section*/
header {
    font-size: 18px;
    font-family: 'Outfit', sans-serif;
    letter-spacing: 5px;
    width: 260px;
    opacity: 0.5;
}

/*Middle heading for perfume*/

h1 {
    color: hsl(212, 21%, 14%);
    font-size: 42px;
    width: 270px;
}

#price {
    color:hsl(158, 36%, 37%) ;
    font-size: 40px;
}

#cut-price{
    font-size: small;
    color: black;
    opacity: 0.5;
    text-decoration: line-through;
    display: inline-block;
    position: relative;
    width: 50px;
    height: 20px;
    left: 20px;
    bottom: 10px;
}

#paragraph {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    opacity: 0.5;
    width: 270px;
    /* height: 60px; */
}

button {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Outfit', sans-serif;
    color: white;
    background-color: hsl(158, 33%, 32%);
    font-size: 15px;
    width: 270px;
    height: 50px;
    border-radius: 10px;
}


