* {
    margin: 0;
    padding: 0;
}

/*whole viewport of the website*/
#container {
    background-color: hsl(30, 38%, 92%);
    height: 100vh;
    display: flex;
    justify-content: center ;
    align-items: center;
}

/*container or main container */
#small-container {
    background-color: hsl(0, 0%, 100%) ;
    width: 700px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}


/*items of the container from here */


#image-one {
    background-image: url(assets/image-product-desktop.jpg);
    background-size: cover;
    width: 350px;
    height: 500px;
}


/*typhography and heading and part is from now on*/
#text {
    background-color:hsl(0, 0%, 100%);
    width: 350px;
    height: 500px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 50px;
}